{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "arrow-body-style": ["error", "always"],
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "vars-on-top": 0,
        "no-var": 0,
        "one-var": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
    }
}