{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ]
    }
}