<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table width="100%">
    <tr>
        <td>
            <table width="600">
                <tr>
                    <td>
                        <a href="https://www.shareview.ru" style="color: #b06732; text-decoration: none" target="_blank">
                            <img src="cid:shareview.logo" alt="Система отзывов для вашего сайта">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #f9f4e5; border-bottom: 10px solid #fffff7" bgcolor="#f9f4e5">
                        <p style="font-size: 18px; font-family: Tahoma, Arial, sans-serif; color: #dc6655; text-transform: uppercase; margin: 0">
                            Здравствуйте.
                        </p>

                        <p style="font-size: 14px; font-family: Tahoma, Arial, sans-serif; color: #3b3f4a">
                            Для доступа к вашему аккаунту, в сервисе SHAREVIEW был сгенерирован новый пароль.
                        </p>

                        <p style="font-size: 14px; font-family: Tahoma, Arial, sans-serif; color: #3b3f4a">
                            Ваш новый пароль: <b><%= password %></b>
                        </p>

                        <p style="font-size: 14px; font-family: Tahoma, Arial, sans-serif; color: #3b3f4a">
                            Обращаем внимание на то, что вы можете поменять персональные данные,
                            в том числе и пароль, в соответствующих разделах вашего аккаунта.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #f9f4e5; border-bottom: 10px solid #fffff7" bgcolor="#f9f4e5">
                        <p style="font-size: 14px; font-family: Tahoma, Arial, sans-serif; color: #3b3f4a">
                            В случае возникновения вопросов, вы можете обращаться в службу поддержки пользователей
                            или найти ответы на странице в
                            <a style="color: #007a9b; text-decoration: none;" href="https://www.shareview.ru/about" target="_blank">описании работы с сервисом</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 12px; font-family: Tahoma, Arial, sans-serif; color: #718d96;">
                            С уважением, служба поддержки пользователей SHAREVIEW.
                            <br />
                            <br />
                            <a style="color: #007a9b; text-decoration: none;" href="mailto:support@shareview.ru" target="_blank">support@shareview.ru</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
