<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <table width="100%">
        <tr>
            <td>
                <table width="600">
                    <tr>
                        <td style="padding:40px 20px 40px 40px; margin-bottom:20px; background-color:#f9f4e5; border-bottom:20px solid #fffff7" bgcolor="#f9f4e5">
                            <p style="font-size:21px;font-family:Tahoma,Arial,sans-serif;color:#dc6655;text-transform:uppercase;margin-bottom:22px">Здравствуйте.</p>

                            <p style="font-size:14px;font-family:Tahoma,Arial,sans-serif;color:#3b3f4a">Ваш аккаунт для работы в сервисе SHAREVIEW успешно создан. На этот адрес мы будем отправлять все необходимые уведомления.</p>

                            <p style="font-size:14px;font-family:Tahoma,Arial,sans-serif;color:#3b3f4a">Для входа в панель управления, пожалуйста, используйте следующие данные:<br />
                            Email: <%= email %><br />
                            Пароль: <%= password %></p>

                            <p style="font-size:14px;font-family:Tahoma,Arial,sans-serif;color:#3b3f4a">Обращаем внимание на то, что  Вы можете поменять персональные данные, в том числе email и пароль, в соответствующих разделах Вашего аккаунта.</p>
                        </td>
                    <tr/>
                    <tr>
                        <td style="padding:40px 20px 40px 40px; margin-bottom:20px; background-color:#f9f4e5; border-bottom:20px solid #fffff7" bgcolor="#f9f4e5">
                            <p style="font-size:14px;font-family:Tahoma,Arial,sans-serif;color:#3b3f4a">Если у Вас возникнут какие-то вопросы по работе сервиса, то Вы можете обращаться в службу технической поддержки или найти ответы на возникшие у Вас вопросы на странице описания работы с сервисом - https://www.shareview.ru/about</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size:12px;font-family:Tahoma,Arial,sans-serif;color:#718d96;padding-bottom:50px">
                                С уважением, служба поддержки пользователей SHAREVIEW.
                                <br />
                                <br />
                                <a style="color:#007a9b" href="mailto:support@shareview.ru" target="_blank">support@shareview.ru</span></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
