	<footer class="b-footer">
        <div class="b-footer__contact">Возникшие у Вас вопросы и предложения можно направлять на электронный адрес <a href="mailto:support@shareview.ru">support@shareview.ru</a></div>
        <ul class="b-footer__menu">
            <li class="b-footer__menu__item b-footer__menu__item_copyright">&copy; 2015 SHAREVIEW</li>
            <li class="b-footer__menu__item"><a href="/about" class="b-footer__menu__item__link">Описание</a></li>
            <li class="b-footer__menu__item"><a href="/destiny" class="b-footer__menu__item__link">Возможности</a></li>
            <li class="b-footer__menu__item"><a href="/terms" class="b-footer__menu__item__link">Условия</a></li>
            <li class="b-footer__menu__item b-footer__menu__item_counter">

<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.14;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet-->

            </li>
        </ul>
    </footer>