<% if (user) {%>
        <a href="/admin/" class="f-btn f-btn_red f-btn_center">Панель управления</a>
<% } else { %>
        <a href="/#signup" class="f-btn f-btn_red f-btn_center">Регистрация</a>
<% } %>